%p
  This is the index page!
  
- if user_signed_in?
  %p
    You are currently logged in.
- else
  %p
    You are not logged in.
    
%br
%br

- @games.each do |game|
  %p
    = link_to game.title, game