%p
  This is the index page!
  
- if user_signed_in?
  %p
    You are currently logged in.
  %p
    = link_to "Sign out", destroy_user_session_path, method: :delete
- else
  %p
    You are not logged in.