%h1
  = @game.title
%p
  Release Date: #{@game.release_date.strftime("%B %-d, %Y")}

%p
  = @game.platform.join(" | ")
  
%br
%br

%i.icon-circle-arrow-up

%h4 Related Games
= render 'related_games/related_game', current_user: current_user